{% extends 'base.html' %}

{% block title %}
    {{ SITE_NAME }} - {{ blog.title }}
{% endblock %}

{% block css %}
<style>
    p{
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
            <h3>{{ blog.title }}</h3>
            <p>
                <span><a href="{% url 'blog_author_list' blog.author_id %}">{{ blog.author }}</a></span>
                <span><a href="{% url 'blog_type_list' blog.blog_type_id %}">{{ blog.blog_type.type_name }}</a></span>
                <span>{{ blog.create_time }}</span>
                <span>{{ blog.update_time }}</span>
            </p>
            <hr>
            <p>{{ blog.content | safe }}</p>
      </div>
    </div>
</div>
{% endblock %}
